<?xml version="1.0" encoding="utf-8" ?>
<unity>
  <container name="defaultContainer">
    <register type="System.Data.Entity.DbContext,EntityFramework" mapTo="NGnono.FinancialManagement.Data.Models.NGnonoFMContext,NGnono.FinancialManagement.Data">
      <constructor>
        <param name="nameOrConnectionString" value="NGnonoFMContext" />
        <param name="version" value="v1" />
      </constructor>
      <lifetime type="HierarchicalLifetimeManager"/>
    </register>
    <register type="NGnono.Framework.Data.EF.IUnitOfWork,NGnono.Framework" mapTo="NGnono.Framework.Data.EF.UnitOfWork,NGnono.Framework">
      <constructor>
      </constructor>
      <lifetime type="HierarchicalLifetimeManager"/>
    </register>
  </container>
</unity>