<div data-role="navbar" data-iconpos="bottom">
    <ul>
        <li><a data-role="button" href="@Url.Action("Index","Home")">首页</a></li>
        <li><a data-role="button" href="@Url.Action("Index","Bill")">记账</a></li>
        <li><a data-role="button" href="@Url.Action("Index","Product")">商品</a></li>
        <li><a data-role="button" href="@Url.Action("Index","Account")">我</a></li>
    </ul>
    <ul>
        <li></li>
    </ul>
</div>
