@model NGnono.FinancialManagement.WebSiteCore.Models.Dto.Bill.IndexDto


@{
    ViewBag.Title = "记账";
}

<form>
    <ul data-role="listview" data-divider-theme="a" data-inset="true">
        <li>
            <fieldset data-role="controlgroup" data-type="horizontal">
                <input type="radio" name="chbMode" id="chb_mode_1" checked="checked" />
                <label for="chb_mode_1">收入</label>
                <input type="radio" name="chbMode" id="chb_mode_2" />
                <label for="chb_mode_2">支出</label>
            </fieldset>
        </li>

        <li>
            <img id="cameraImage" src="/images/read_more_32x32.png" alt="" /></li>
    </ul>

</form>

@section PageAreas
{
    <div data-role="page" id="setting">
        <div data-role="header">
            <h1>头像设置</h1>
        </div>
        <div data-role="settingContent" id="settingContent">
            <p>头像</p>
            <img id="settingImage" src="" />
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <div data-role="button" id="takePhoto">take photo</div>
                </div>
                <div class="ui-block-b">
                    <div data-role="button" id="upload">upload</div>
                </div>
            </div>

        </div>
    </div>
}


@section FooterScripts
{
    <script type="text/javascript">
        //在页面初始化的时候,利用phonegap初始化我们的应用 
        $('body').on("pageinit",function(){ 
           init(); 
        }); 
        //为页面添加swip 事件
        $('#home').on("pageinit", function () {
            //当我们向左滑动的时候,进入setting页面 
            $('#homeContent').on("swipeleft", function () {
                $.mobile.changePage('#setting', { transition: "fade" });
            });

        });
        $('#setting').on("pageinit", function () {
            //显示头像图片 
            var saveImage = kget("image");
            if (saveImage) {
                //console.log("have image"+saveImage); 
                var cameraImage = document.getElementById('settingImage');
                cameraImage.style.visibility = 'visible';
                cameraImage.src = "data:image/jpeg;base64," + saveImage;

            }
            //当我们向右滑动的时候,回到主页 
            $('#settingContent').on("swiperight", function () {
                $.mobile.changePage('#home', { transition: "fade" });
            });
            //进行拍照 
            $('#takePhoto').on("tap", function () {
                take_pic();
            });
        });
    </script>
}
