<div data-role="navbar" data-iconpos="bottom">
    <ul>
        <li><a data-role="button" href="#">首页</a></li>
        <li><a data-role="button" href="#">记账</a></li>
        <li><a data-role="button" href="#">商品</a></li>
        <li><a data-role="button" href="#">我</a></li>
    </ul>
    <ul>
        <li></li>
    </ul>
</div>
